---
import { clsx, getBackgroundColorClass } from '@utils/index';

const { title, cta_label, bg_colour } = Astro.props;
---

<div class="p-1 border-2 border-dashed border-white rounded-3xl">
  <div
    class={clsx(
      'flex flex-row w-full items-center justify-between gap-3 p-6 relative transition-all duration-75 ease-in-out rounded-2xl',
      getBackgroundColorClass(bg_colour)
    )}>
    <div class='w-full flex flex-col gap-3'>
      <h5
        class='text-[#333333] dark:text-[#333333] font-medium w-full sm:text-xl md:text-2xl leading-tight'>
        {title}
      </h5>

      <div class='w-full flex-row gap-3'>
        <button
          id='button-schedule-meeting'
          data-umami-event='cta-schedule-meeting'
          class={clsx(
            'bg-gray-900 text-white font-medium py-2 px-4 rounded-full w-fit',
            'transition-colors duration-200 ease-in-out',
            'hover:bg-red-400'  // Add hover effect
          )}
          onclick="window.open('https://cal.com/a-ramachandran/15min', '_blank')">
          {cta_label}
        </button>

        <button
          id='button-email-me'
          data-umami-event='cta-email-me'
          class={clsx(
            'text-black font-medium py-2 px-4 rounded-full w-fit hover:font-bold',
            'underline decoration-wavy',
            'transition-colors duration-200 ease-in-out',
          )}
          onclick="window.location.href=`mailto:a.ramachandran.2002@gmail.com?subject=Let's%20Collaborate&body=Hi%20Ramachandran,%0D%0A%0D%0AI%20would%20like%20to%20discuss%20a%20potential%20collaboration%20with%20you.%0D%0A%0D%0ABest%20regards,%0D%0A%5BYour%20Name%5D`">
          Email me
        </button>
      </div>
    </div>
  </div>
</div>